.quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
.flex{
    display: flex;
}
.nav-bar{
    justify-content: space-around;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 0;
}
.menu{
    display: none;
}
.nav-links{
    list-style: none;
    gap: 40px;
    /* justify-items: center; */
    font-size: 18px;
}
.nav-link{
    text-decoration: none;
    
}
.btn-contact{
    background-color: #ff900e;
    color: white;
    /* padding: 20px 25px; */
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 12px;
    border: none;
    height: 50px;
    width: 197px;
    text-align: center;
  }
.name{
    font-weight: 700;
    /* font-size: 2.25rem; */
}
.home{
    color: rgb(74, 207, 248);
}
.about{
    color: #ff900e;
}
.faculties{
    color: #211e1c;
}
.admission{
    color: blueviolet;
}
a{
    font-weight: 500;
}

/* Banner Content */
.title{
    font-weight: 700;
    font-size: 56px;
}
.title-info{
    font-size: 20px;
}
#title-blue{
    color: rgb(45, 176, 227);
}
#title-orange{
    color: #ff900e;
}
.banner-content{
    width: 1200px;
    height: 575px;
    margin: 0 auto;
    gap: 50px;
}
.btn-enroll{
    background-color: #000000;
    color: white;
    /* padding: 20px 25px; */
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 12px;
    border: none;
    height: 50px;
    width: 197px;
    text-align: center;
}
.banner-info{
    font-weight: 400;
    width: 640px;
    height: 330px;
    margin-top: 100px;
    margin-right: 60px;
    /* justify-content: left; */
    /* text-align: left; */
    
}




/* Standard Curriculum */
.standard-curriculum{
    width: 1440px;
    height: auto;
    background-image: url(../assets/bg.png);
    padding: 60px 0px 60px 0px;
}
.sc-content{
    /* width: 1160px; */
    width: 1200px;
    height: 575px;
    margin: 0 auto;
    justify-content: space-between;
    gap: 100px;
}
.sc-box{
    text-align: center;
    height: 381px;
    padding: 50px 30px;
    
}
.sc-title{
    font-size: 46px;
    text-align: center;
    margin-bottom: 80px;
}
.sc-heading{
    font-size: 25px;
}
.sc-info{
    font-size: 15px;
}
.b1{
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    border-radius: 18px;
    border: solid 1px rgb(185, 225, 247);
}

.b2{
    border-radius: 18px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    border: 0.94px solid rgb(222, 245, 255);
}
.b3{
    border-radius: 18px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    border: 0.94px solid rgb(242, 232, 255);
}
.sc-rm-b{
    color: rgb(100, 200, 255);
    text-decoration: none;
}
.sc-rm-y{
color: rgb(240, 170, 0);
text-decoration: none;
}
.sc-rm-p{
color: rgb(135, 0, 255);
text-decoration: none;
}
.arrow-icon{
    justify-content: center;
    gap: 10px;
}
.arrow {
    display: flex;
    margin: 20 auto;
    /* margin-left: 20%; */
    /* margin-right: 20%; */
    
    background-color: rgb(254, 163, 1);
    
    border-radius: 50%;
}






/* media query */
@media screen and (max-width:390px){

    .nav-bar,.banner-content,.nav-links{
        flex-direction: column;
    }
    .name,.btn-contact,.nav-links{
        display: none;
    }
    .nav-bar{
        border: #eeb069;
        border-style: solid;
        border-width: 1px;
        width: 380px;
        height: 70px;
        margin: 0;
        padding: 0%;
        margin-bottom: 100px;
        justify-content: space-around;
        /* gap: 5px; */
    }
    .banner-info{
    font-weight: 500;
    width: 370px;
    /* height: auto; */
    margin: 0;
    text-align: center;
    
        /* margin-right: 10px; */
    }
    .menu{
        display: inline-block;
    }
    .banner-content{
        flex-direction: column-reverse;
        margin: 0;
        gap: 0;
        width: 357px;
        height: 725px;
        
        /* margin-right: 100px; */
    }
    .h-bg{
        /* margin-top: 700px; */
        width: 336px;
        height: 434px;
        align-content: center;
        margin-left: 23px;
       
    }
    .btn-enroll{
        margin-bottom: 30px;
    }


    .sc-content{
        flex-direction: column;
        width: 357px;
        height: 321.28px;
        gap: 10px;
    }
    .standard-curriculum{
        margin-top: 250px;
        height: auto;
        width: auto;
    }
    .arrow{
        display: none;
    }

}
